* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
}
body {
  background: #fff;
  font-size: 14px;
  width: 100%;
  height: 100%;
  font-family: "PingFang SC", "Lantinghei SC", "Helvetica Neue", Helvetica,
    Arial, "Microsoft YaHei", "STHeitiSC-Light", simsun, "WenQuanYi Zen Hei",
    "WenQuanYi Micro Hei", "sans-serif" !important;
  text-align: center;
}
.header {
  font-size: 0.4rem;
  padding: 0.2rem 0;
}
.tab ul {
  margin: 0.4rem auto;
  list-style: none;
  border: 2px solid #00a0e9;
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  /* background: #00a0e9; */
}
.tab ul li {
  display: inline-block;
  padding: 0.1rem 0.6rem;
  margin: 0;
  color: #666;
}
.tab ul li.onselected {
  background: #00a0e9;
  color: #fff;
}
.picture img {
  width: 92%;
  height: 100%;
}

.circl-block {
  position: relative;
}
.circl-block::after {
  content: "";
  display: block;
  height: 2rem;
}
.top {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  /* background: rgba(0, 160, 233,.6); */
  background: #00a0e9;
  z-index: 4;
  left: 50%;
  transform: translate(-1rem, 3rem);
  font-size: 0.3rem;
  color: #fff;
}
.top:hover{
  box-shadow: 0 0 0.6rem #00a0e9;
}
.middle {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  /* background: rgba(180, 227, 249,.6); */
  background: #aee2f9;
  margin: 0 auto;
  z-index: 2;
  left: 50%;
  transform: translate(-2rem, 2rem);
}
.bottom {
  position: absolute;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: #e5f5fd;
  position: relative;
  z-index: 1;
  left: 50%;
  transform: translate(-3rem, 1rem);
}
.top-bg {
  width: 40%;
  display: inline-block;
  padding-top: 0.3rem;
}

.toptry {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: linear-gradient(#39dbb5,#2eca89);
  /* background: #31ce94; */
  z-index: 8;
  left: 50%;
  top: 0;
  transform: translate(-0.8rem, -0.1rem);
  font-size: 0.4rem;
  color: #fff;
  /* box-shadow: 0 0 0.3rem #47d6d7; */
}
.toptry:hover{
  box-shadow: 0 0 0.6rem #31ce94;
}

.forue .lefttop {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: #46d5d8;
  z-index: 8;
  left: 0;
  top: 0;
  transform: translate(0.7rem, 1rem);
  /* transform: translate(0.2rem, 1.6rem); */
  font-size: 0.2rem;
  color: #fff;
  /* box-shadow: 0 0 0.3rem #47d6d7; */
}
.five .lefttop {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: #46d5d8;
  z-index: 8;
  left: 0;
  top: 0;
  transform: translate(0.2rem, 1.6rem);
  font-size: 0.2rem;
  color: #fff;
  /* box-shadow: 0 0 0.3rem #47d6d7; */
}
.lefttop:hover{
  box-shadow: 0 0 0.6rem #47d6d7;
}
.leftbottom {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: #f2ad45;
  z-index: 8;
  left: 0;
  top: 0;
  transform: translate(0.7rem, 5.3rem);
  font-size: 0.2rem;
  color: #fff;
  /* box-shadow: 0 0 0.3rem #f2ad45; */
}
.leftbottom:hover{
  box-shadow: 0 0 0.6rem #f2ad45;
}
.forue .righttop {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: #8564fd;
  z-index: 8;
  right: 0;
  top: 0;
  transform: translate(-0.7rem, 1rem);
  /* transform: translate(-0.2rem, 1.6rem); */
  font-size: 0.2rem;
  color: #fff;
  /* box-shadow: 0 0 0.3rem #8564fd; */
}
.five .righttop {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: #8564fd;
  z-index: 8;
  right: 0;
  top: 0;
  transform: translate(-0.2rem, 1.6rem);
  font-size: 0.2rem;
  color: #fff;
  /* box-shadow: 0 0 0.3rem #8564fd; */
}
.righttop:hover{
  box-shadow: 0 0 0.6rem #8564fd;
}
.rightbottom {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: #fa7160;
  z-index: 8;
  right: 0;
  top: 0;
  transform: translate(-0.7rem, 5.3rem);
  font-size: 0.2rem;
  color: #fff;
  /* box-shadow: 0 0 0.3rem #fa7160; */
}
.rightbottom:hover{
  box-shadow: 0 0 0.6rem #fa7160;
}
.line {
  height: 0.1rem;
  margin-bottom: 0.3rem;
  background: #efefef;
}
.text {
  padding: 0.2rem 0.1rem;
}
.title {
  margin: 0 0.2rem;
  border-left: 0.1rem solid #00a0e9;
  text-indent: 0.2rem;
  font-size: 0.3rem;
  font-weight: bold;
  text-align: left;
}
.text-tab {
  margin: 0.1rem 0;
  display: flex;
  justify-content: space-evenly;
  font-size: 0.3rem;
  color: #00a0e9;
  border-bottom: 1px solid #ddd;
}
.text-tab div {
    color: #999;
    padding: 0 0.2rem 0.2rem;
    cursor: pointer;
}
.text-tab div.kmselected {
    color: #00a0e9;
    border-bottom: 2px solid #00a0e9;
}
.main {
  margin: 0 0.2rem;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid #ddd;
}
.pics {
  width: 40%;
  float: left;
  overflow: hidden;
  margin-right: 0.2rem;
}
.font-text {
  font-size: 0.1rem;
  text-align: left;
}
.font-text h1 {
  margin: 0.2rem 0;
  font-size: 0.2rem;
  font-weight: bold;
}
.font-text div {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #7d7d7d;
}
.clear{
    clear: both;
}
.botom-masg{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.1rem;
    color: #5d5b5b;
}
.sharebtn{
    text-align: center;
    display: inline-block;
    text-align: center;
    margin: 0.5rem auto;
    /* width: 6rem; */
    padding: 0.2rem;
    background: #00a0e9;
    color: #fff;
    border-radius: 20px;
    font-size: 0.3rem;
    box-shadow: 0 0 0.3rem #00a0e9;
    cursor: pointer;
}
.morebtn{
  float: right;
  cursor: pointer;
  font-weight: 100;
}

.circleselectedtop {
  opacity: 1.8;
  box-shadow: 0 0 0.6rem #00a0e9;
}
.circleselectedtt {
  opacity: 1.8;
  box-shadow: 0 0 0.6rem #2ecb89;
}
.circleselectedlt {
  opacity: 1.8;
  box-shadow: 0 0 0.6rem #47d6d7;
}
.circleselectedlb {
  opacity: 1.8;
  box-shadow: 0 0 0.6rem #f2ad45;
}
.circleselectedrt {
  opacity: 1.8;
  box-shadow: 0 0 0.6rem #8564fd;
}
.circleselectedrb {
  opacity: 1.8;
  box-shadow: 0 0 0.6rem #fa7160;
}
.list-cont{
  padding: 0 0.2rem;
}
.wxaddtitle {
  margin-top: 0.5rem;
  color: #3c3b3b;
  font-size: 0.2rem;
  font-weight: bold;
}
.radiolist{
  padding: 0.3rem 0;
}