<!DOCTYPE HTML>
<html>

<head>
	<meta charset="UTF-8">
	<title>驾考</title>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-styEEle" content="black">
	<!-- 引入vant样式文件 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.2/lib/index.css">
	<link rel="stylesheet" href="./index.css">
</head>

<body>
	<div id="app">
		<h1 class="header">精选必考</h1>
		<div class="tab">
			<ul>
				<li v-bind:class="{'onselected':tabOneIndex==0}" v-on:click="changeTab(0)">科目一</li>
				<li v-bind:class="{'onselected':tabOneIndex==1}" v-on:click="changeTab(1)">科目四</li>
			</ul>
		</div>
		<!-- 轮播 -->
		<div class="picture" v-if="!userRoot">
			<van-swipe :autoplay="3000">
					<van-swipe-item>
						<img width="92%" src="./image/1.png" alt="">
					</van-swipe-item>
					<van-swipe-item>
						<img width="92%" src="./image/2.png" alt="">
					</van-swipe-item>
			</van-swipe>
		</div>
		<!-- 分割线 -->
		<div class="line"></div>
		<!-- 四圆环 if else 判断显示哪个圆环即可-->
		<div class="circl-block forue" v-if="userRoot">
			<div class="top" v-bind:class="{'circleselectedtop':circleon==5}" v-on:click="clickCircle(5)">
				<img src="./image/topbg.png" class="top-bg" alt=""><br/>
				精选必考
			</div>
			<div class="middle"></div>
			<div class="bottom"></div>
			<!-- 周边圆环 -->
			<div class="lefttop"  v-bind:class="{'circleselectedlt':circleon==1}" v-on:click="clickCircle(1)">
				<img src="./image/lefttopbg.png" class="top-bg" alt=""><br/>
				基础练习
			</div>
			<div class="leftbottom" v-bind:class="{'circleselectedlb':circleon==2}" v-on:click="clickCircle(2)">
				<img src="./image/leftbottombg.png" class="top-bg" alt=""><br/>
				专项练习
			</div>
			<div class="righttop" v-bind:class="{'circleselectedrt':circleon==3}" v-on:click="clickCircle(3)">
				<img src="./image/righttopbg.png" class="top-bg" alt=""><br/>
				模拟考试
			</div>
			<div class="rightbottom" v-bind:class="{'circleselectedrb':circleon==4}" v-on:click="clickCircle(4)">
				<img src="./image/rightbottom.png" class="top-bg" alt=""><br/>
				错题重做
			</div>
		</div>
		<!-- 五圆环 -->
		<div class="circl-block five" v-else>
			<div class="top" v-bind:class="{'circleselectedtop':circleon==5}" v-on:click="clickCircle(5)">
				<img src="./image/topbg.png" class="top-bg" alt=""><br/>
				精选必考
			</div>
			<div class="middle"></div>
			<div class="bottom"></div>
			<!-- 周边圆环 -->
			<!-- 免费体验 -->
			<div class="toptry"  v-bind:class="{'circleselectedtt':circleon==6}" v-on:click="clickCircle(6)">
				免费<br/>体验
			</div>
			<div class="lefttop"  v-bind:class="{'circleselectedlt':circleon==1}" v-on:click="clickCircle(1)">
				<img src="./image/lefttopbg.png" class="top-bg" alt=""><br/>
				基础练习
			</div>
			<div class="leftbottom" v-bind:class="{'circleselectedlb':circleon==2}" v-on:click="clickCircle(2)">
				<img src="./image/leftbottombg.png" class="top-bg" alt=""><br/>
				专项练习
			</div>
			<div class="righttop" v-bind:class="{'circleselectedrt':circleon==3}" v-on:click="clickCircle(3)">
				<img src="./image/righttopbg.png" class="top-bg" alt=""><br/>
				模拟考试
			</div>
			<div class="rightbottom" v-bind:class="{'circleselectedrb':circleon==4}" v-on:click="clickCircle(4)">
				<img src="./image/rightbottom.png" class="top-bg" alt=""><br/>
				错题重做
			</div>
		</div>
		<!-- 分割线 -->
		<div class="line"></div>
		<!-- 驾考咨询 -->
		<div class="text">
			<div class="title">驾考资讯 <span class="morebtn">更多></span></div>
			<div class="text-tab">
				<div v-bind:class="{'kmselected':tabTwoIndex==2}" v-on:click="changeTabTwo(2)">科目一</div>
				<div v-bind:class="{'kmselected':tabTwoIndex==3}" v-on:click="changeTabTwo(3)">科目四</div>
			</div>
			<div class="main">
				<div class="clear">
					<div class="pics">
						<img src="./image/text-pic.png" width="100%" alt="">
					</div>
					<div class="font-text">
						<h1>科目一按照这五步来复习想挂科都难</h1>
						<div>科目一和科目三的文明考试,虽然简单,但还是有方法的。如果掉以轻心,一样会挂科。广州学车君在这里教大家一个做题复习的流程方法,供</div>
					</div>
				</div>
				<div class="botom-masg">
					<div>太平洋汽车网   237评论</div>
					<div>查看详情</div>
				</div>
			</div>
			<!-- 分享 -->
			<div class="sharebtn"><img width="15%" src="./image/icon_share.png" alt=""> 分享给好友</div>

		</div>

		<!-- 支付 -->
		<van-popup
			v-model="show"
			round
			position="bottom"
			close-on-popstate=true
			close-on-click-overlay=false
			closeable=true
			:style="{ height: '48%' }"
		>
		<!-- 弹框主题内容 -->
			<div class="list-cont">
				<div class="wxaddtitle">现在下单，就送科三资讯！</div>
				<van-radio-group class="radiolist" v-model="radio">
					<van-cell-group>
						<van-cell title="选择内容 1" clickable @click="radio = '1'">
							<van-radio slot="right-icon" name="1" />
						</van-cell>
						<van-cell title="选择内容 2" clickable @click="radio = '2'">
							<van-radio slot="right-icon" name="2" />
						</van-cell>
						<van-cell title="选择内容 3" clickable @click="radio = '3'">
								<van-radio slot="right-icon" name="3" />
							</van-cell>
					</van-cell-group>
				</van-radio-group>
				<van-button type="info" style="padding: 0 2.2rem;margin-top: 0.2rem;" @click="onConfirm">支 付</van-button>
			</div>
		</van-popup>
	</div>
	<!-- 引入 Vue 和 Vant 的 JS 文件 -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vant@2.2/lib/vant.min.js"></script>
	<script src="./rem.js"></script>

	<script>
		var app = new Vue({
			el: "#app",
			data: {
				userRoot:false, //用户是否已购买
				tabOneIndex: 0, //tab切换选中
				tabTwoIndex:2, //tab切换选中
				circleon:0, //圆环选中值
				show:false,  //弹框显示隐藏
				radio: '1'
			},
			methods:{
				// tab切换
				changeTab: function (data) {
					this.tabOneIndex = data;
				},
				changeTabTwo: function (data) {
					this.tabTwoIndex = data;
				},
				// 圆环点击事件
				clickCircle: function (data) {
					this.circleon = data;
					if(!this.userRoot){
						this.show=true;
					}
				},
				// 弹框确定
				onConfirm(){
					this.show=false;
				}
			}
		});
	</script>
</body>
</html>